
## Complex 
Complex literals can be created by using the notation

In [2]:
a=1+2.0j

In [3]:
a

(1+2j)

In [7]:
#Strong Typing 
1 + int("3")

4

In [10]:
str("day ")+ str("1")

'day 1'

In [11]:
i=1
if (i<3):
    print("less than 3")
    if i<2:
        print("less than 2")
elif i<5:
    print("less than 5")
else:
    print("5 or more")

less than 3
less than 2

# shallow copy

In [12]:
l1=['dsad','b','c']
l2=['a',4,6]
l1+l2

['dsad', 'b', 'c', 'a', 4, 6]

In [14]:
l1.append(l2)

In [15]:
l1

['dsad', 'b', 'c', ['a', 4, 6], ['a', 4, 6]]

In [17]:
l1.extend(l2)

In [18]:
l1

['dsad', 'b', 'c', ['a', 4, 6], ['a', 4, 6], 'a', 4, 6, 'a', 4, 6]

In [29]:
l=list('jsksdkdkfds')
print(l)
len(l)

['j', 's', 'k', 's', 'd', 'k', 'd', 'k', 'f', 'd', 's']

11

In [21]:
# Loops 
l

['j', 's', 'k', 's', 'd', 'k', 'd', 'k', 'f', 'd', 's']

In [27]:
str1="kitender"
print(len(str1))
print(len(l1))

8
11

In [23]:
for fg in l:
    print(fg)

j
s
k
s
d
k
d
k
f
d
s

In [30]:
lst2=[9,8,4,5,6]
len(lst2)

5

In [36]:
# sum of all the elements in the list
# for loop
sum1=0 # sum is reserved key 
for i in lst2:
    sum1=sum1+i
    #print(sum1)
print(sum1)

32

In [37]:
l

['j', 's', 'k', 's', 'd', 'k', 'd', 'k', 'f', 'd', 's']

In [56]:
%%time
## first output is sum of odd numbers and sum of evern number int this list
lst3=[1,3,4,6,7,8,9,2,3,4,5]
even_sum=0
odd_sum=0
for i in lst3:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print("The odd sum is ",odd_sum)
print("The even sum is ",even_sum)

The odd sum is  28
The even sum is  24
Wall time: 1 ms

In [57]:
3//2

1

# for loop with else

In [65]:
### for else block
lst=[4,5,6,7,8,9,3,56,64,67]
sum1=0
for i in lst:
    if i==1:
        break
    sum1=sum1+i
    #print(sum1)
else:
    print(sum1)

229

In [73]:
# find the sum of even number and odd numbers. If the even sum is greater than 20 or odd_sum is greater 
# odd_sum is greater than 20 implement a break condition..
# print(else block)

lst=[1,2,3,4,5,6,7]
lst
even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
        #print(even_sum)
        if even_sum >20:
            break
    else:
        odd_sum=odd_sum+i
        #print(odd_sum)
        if odd_sum>20:
            break
else:
    print(even_sum)
    print(odd_sum)

12
16

# while loop

In [77]:
# Program to add natural 
# number upto 
# sum=1+2+3+.....n
# To take input from the user 
# n=int(input('Enter n:') # n(n+1)/2 

# sum of the n elements (1,2,3,4,5,6,7,8,9,10)
n=10
i=1
sum1=0
even_sum=0
odd_sum=0
while i<=n:
    if i%2==0:
        even_sum=even_sum+i
        i=i+1
    else:
        odd_sum=odd_sum+i
        i=i+1

print(odd_sum)

print(even_sum)

25
30

# Range

In [78]:
range(4,10)

range(4, 10)

In [79]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [82]:
list(range(4,50,2)) # 2 denotes the step size

[4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [84]:
range(10)

range(0, 10)

In [87]:
sum(range(1,100,3))

1617

In [89]:
list(range(100,0,-2))

[100,
 98,
 96,
 94,
 92,
 90,
 88,
 86,
 84,
 82,
 80,
 78,
 76,
 74,
 72,
 70,
 68,
 66,
 64,
 62,
 60,
 58,
 56,
 54,
 52,
 50,
 48,
 46,
 44,
 42,
 40,
 38,
 36,
 34,
 32,
 30,
 28,
 26,
 24,
 22,
 20,
 18,
 16,
 14,
 12,
 10,
 8,
 6,
 4,
 2]

# continue

In [92]:
# Program to show 
for val in 'string':
    if val =='i':
        continue
    print(val)
print('The end')

s
t
r
n
g
The end

# Strings and list objects

In [93]:
len('Hello world')

11

In [94]:
# Assign s as a string
s='hello world'
s

'hello world'

In [96]:
s[:]# : gives entire string 
s[::-1]# inverse the string
s[::-2]

'drwolh'

In [98]:
s='Hello World JitenderSaini'
# Upper case a string
s.upper()

'HELLO WORLD JITENDERSAINI'

In [99]:
s.lower()

'hello world jitendersaini'

In [100]:
s.split()

['Hello', 'World', 'JitenderSaini']

In [102]:
s.split('W') # does not include the element that was split

['Hello ', 'orld JitenderSaini']

#Location and counting

In [104]:
s='jitender siani'
s.count('e')

2

In [105]:
s.find('s')

9

In [106]:
## format the center() method allows you to place your string 'centerd' between a provided string with a certain lenth.
s.center(24,'j')

'jjjjjjitender sianijjjjj'

In [107]:
'hello\thi'.expandtabs()

'hello   hi'

In [108]:
s.isalnum() # alpha numeric string

False

In [109]:
s.islower()

True

In [110]:
s.isspace()# if all characters in S are whitespace.

False

In [111]:
s.split('i')

['j', 'tender s', 'an', '']