## Python

In [2]:
4%2

0

In [4]:
5//2 # whole no. consider

2

In [5]:
5/2 # quotient

2.5

# BODMAS -- Bracket , off, Division, Multiplication, Substraction

In [6]:
type('Jitender_saini')

str

In [7]:
a=10
b=20
a+b

30

In [9]:
True

True

In [10]:
True | False

True

In [12]:
a=10
b=20
a+b>30 or a-b<10

True

In [13]:
## Strings 
type("krsna") ## shift + Tab

str

In [15]:
str1="Hare_krsna"

In [14]:
## Never use Reserve keywords otherwise you will get error

In [16]:
str1

'Hare_krsna'

In [17]:
print(str1)

Hare_krsna

In [18]:
str1="A good boy"
str2="A bad boy"

In [19]:
print(str1)

A good boy

In [24]:
str1+" "+str2

'A good boy A bad boy'

In [26]:
name=input("Enter yoour name")
print(name)

Enter yoour namejiten
jiten

In [30]:
# add 2 numbers
a=float(input('Enter number 1?')) # treat as string so order to fix this problem
b=float(input('Enter number 2?'))
c=a+b
print("the output is",c)

Enter number 1?3.4
Enter number 2?3
the output is 6.4

In [34]:
# string formatting
First_name=input("What is your first name")
last_name=input("what is your last name")
#print("Welcome to iNeuron course",First_name,last_name)
print("My first name is {} and last name is {}".format(First_name,last_name)) # {} place holder replace 
print("My first name is {Firstname} and last name is {lastname}".format(Firstname=First_name,lastname=last_name)) # {} place holder replace

What is your first namejitendre
what is your last namesao
My first name is jitendre and last name is sao
My first name is jitendre and last name is sao

##Variable Dynamic Typing

In [38]:
## Strong Typing 
'krish' + str(1)
int('2') +2

4

In [46]:
#### Conditional statements
## if and elif
a=int(input("enter the no. 1?"))
b=int(input('enter the no. 2?'))
c=a-b
print("the output is ",c)
if c<0:
     print("negative")
elif c>40:
    print("the difference is huge")
else:
        print('positive')

enter the no. 1?34
enter the no. 2?343
the output is  -309
negative

## Data Structures 
1. list
2. tuple
3. string
4. Dictionary
5. Sets

In [48]:
lst=[1,2,3,'krish','jitender']

In [49]:
lst

[1, 2, 3, 'krish', 'jitender']

In [50]:
type(lst[3])

str

In [51]:
type(lst[2])

int

In [52]:
lst.append("saini")

In [53]:
lst

[1, 2, 3, 'krish', 'jitender', 'saini']

In [55]:
lst[2]='Data Science'

In [56]:
lst

[1, 2, 'Data Science', 'krish', 'jitender', 'saini']

In [57]:
lst.append("saini")
lst.append('saini')

In [58]:
lst.count("saini")

3

In [59]:
lst

[1, 2, 'Data Science', 'krish', 'jitender', 'saini', 'saini', 'saini']

In [60]:
#Indexing 
## Immutable single item not replace but complete string 
str1='krish'
str1[3]
str[3]='i' # string does not support assignment  ##immutable

's'